h1 {
    font-size: 3rem;
    margin-top: -2rem;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 1rem;
    border-radius: 25px;
    background-color: white;
}
.search i {
    color: #505860;
    font-size: 1.5rem;
}
input[type="text"] {
    padding: 1rem;
    font-size: 1.5rem;
    outline: none;
    border: none;
    width: 90%;
}
input[type="text"]::placeholder {
    opacity: 1;
    color: #505860;
}
table {
    margin-top: 2rem;
    border-collapse: collapse;
    width: 90%;
}
td, th {
    text-align: left;
    padding: 8px;
    font-size: 1.2em;
}
td span {
    vertical-align: middle;
}
table img {
    width: 2rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}
.logo {
    width: 20rem;
}
.titles {
    font-weight: bold;
    font-size: 1.5em;
}
.coin-symbol {
    color: #505860;
    margin-left: 1rem;
    text-transform: uppercase;
}
.good {
    color: #f7d079;
}
.bad {
    color: red;
}